@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
.vaccinewr {
    max-width: 860px;
    margin-left: auto;
    padding: 10px;
    margin-right: auto;
    text-align: left;
}
.vaccinewr ul {
  padding-left: 1rem;
  list-style-type: circle;
}

.vaccinewr ul li {
  padding-left: 0.5rem;
}

.formbox .introtext .alrt {
    color: #F00;
}

.covid-detailed-wr {
    background-color: #FFF7E5;
}
.covid-detailed {
padding: 30px;
}



.homecont-wr .homecont .coronainfo {
    color: #000000;
    font-weight: bold;
}

.alertpage .cont p {
    font-size: 18px;
	line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
	font-weight:300;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
	overflow: hidden;
}
a:hover, a:active {
	text-decoration:underline;
}
.clr {
	clear:both;
}
#home div .clr {
}
.smallannounce  {
    color: #333;
    font-size: 18px;
    background-color: #fee;
	text-align: center;
}


/* insurnace upload page clean layout */
#insuranceupload .navigation {display:none;}
#insuranceupload #portal {display:none;}
#insuranceupload .info {display:none;}
#insuranceupload #top {display:none;}



/* menu */
.desktop {display:block;}
.mobile {display:none;}
#home .navigation ul li.home {display:none;}

/* Page */

body {
	font-family: 'Roboto', sans-serif;
}
.sup {
  vertical-align: super;
  font-size: smaller;
}
a:link, a:visited {
    color: #007CA9;
    text-decoration: none;
}
a:hover, a:active {
    color: #2D7A96;
}
.header-wrap {
	background-color:#F1F9FF;
	overflow: hidden;
}
.header {
	max-width: 960px;
	margin-left:auto;
	margin-right:auto;
	width: 960px;
}
.logo {
	width: 170px;
	float: left;
	margin-top: 18px;
}
.info {
	float: right;
	width: 300px;
	color: #0BF;
	text-align: right;
	font-size: 16px;
	background-image: url(../images/location-icon.gif);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 30px;
	margin-top: 21px;
}
.form {
	background:#f9f8f9;
	padding-top:25px;
	width: auto;
	padding-left:25px;
	padding-right:25px;
	margin-left:auto;
	padding-bottom:50px;
	margin-right:auto;
}
.red {
	color: #C00;
}
#portal {
    float: right;
    width: 170px;
    text-align: center;
}
#portal a:link, #portal a:visited {
	background-color: #0BF;
	display: block;
	border-radius: 0px 0px 5px 5px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFF;
	font-size: 14px;
	text-decoration: none;
}
#portal a:hover, #portal a:active {
	background-color: #00AEF0;
}
#paymybill {
    float: right;
    width: 170px;
    text-align: center;
}
#paymybill a:link, #paymybill a:visited {
	background-color: #1DB5A0;
	display: block;
	border-radius: 0px 0px 5px 5px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFF;
	font-size: 14px;
	text-decoration: none;
}
#paymybill a:hover, #paymybill a:active {
	background-color: #24A08F;
}
.topleft {
	float: right;
	width: 80%;
}
.naviwrap {
	width:100%;
	clear: both;
	overflow: hidden;
}
.navigation {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 0px;
    float: right;
    width: 750px;
}
.navigation ul {
	float: right;
	list-style-type: none;
}
.navigation ul li {
	float: left;
}
.navigation ul li a {
    padding-right: 21px;
    padding-left: 21px;
    color: #351D11;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
    font-weight: 400;
    font-size: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
}
.navigation ul li a:hover {
	color:#00ACEE;
	border-bottom-color: #8CDFFF;
}
ul li .corona {
    background-color: #FF7B7B;
    	border-radius: 5px 5px 0px 0px;
}

.bannerwr {
	background-color: #cdb9ae;
	background-image: url(../images/suite401-banner-2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 327px;
}
.banner {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
/* FOOTER */
.footerwr {
	background-color: #41403F;
}
.footer {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: 527px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #FFF;
}
.contactd {
	text-transform: uppercase;
	color: #8CDFFF;
}
.footer-contact {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 30px;
}
.footerlogo {
	margin-bottom: 25px;
}
.footer-copyr {
	font-size: 13px;
	color: #9E9E9E;
}
.footer a:link, .footer a:visited  {
	color: #EEE;
	text-decoration: none;
}
.footer a:hover, .footer a:active  {
	text-decoration: underline;
	color:#FFF;
}
.docs-home {
    width: 1207px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    padding-top: 20px;
}
.adoc {
    float: left;
    text-align: center;
    margin-right: 14px;
    width: 13%;
}
.adoclast {margin-right:0px;}
.docs-home-wr {
	overflow: hidden;
	background-color: #f1efee;
	padding-top: 18px;
	padding-bottom: 50px;
}
.docname {
	color: #333;
}
.docname {
	font-size: 13px;
}
.homecont {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.homecont-wr {
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 45px;
}
.doctitle {
	background-color: #EDEAE9;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 11px;
	color: #0BF;
	text-transform: uppercase;
	clear: both;
}
a.h-patientportb {
	display: block;
	float: right;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #0BF;
	color: #FFF;
	text-decoration: none;
	width: 100%;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
}
a.h-newpatientb {
	display: block;
	float: right;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #FFA265;
	color: #FFF;
	text-decoration: none;
	width: 100%;
	font-weight: 700;
	border-radius: 5px 5px 5px 5px;

}
a.h-patientportb:hover, a.h-patientportb:active {
	background-color:#11a3d8;
}
a.h-newpatientb:hover, a.h-newpatientb:active {
	background-color:#f09153;
}
.cont3 .buttonbox .h-newpatientb {
    background-color: #7990FF
}



.cont-textbox {
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 16px;
	color: #333;
	font-weight: 400;
}
.cont1 {
    overflow: hidden;
    float: left;
    width: 30%;
}
.cont2 {
    float: left;
    width: 30%;
    margin-left: 4.5%;
}
.cont3 {
    float: left;
    width: 30%;
    margin-left: 4.5%;
}
.cont650 {width:650px;}
.cont650 p, .cont650 h1, .cont650 h2, .cont650 h3, .cont650 ul, .cont650 ol  {width: 650px;}

.homecont .cont-textbox h2 {
	font-size: 24px;
	font-weight: 400;
}
.providerprofile {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}
.provider-imgbox {
	float: left;
	width: 30%;
}
.provider-textbox {
	float: right;
	width: 66%;
	padding-top: 100px;
}
.providerprofile-wr {
	overflow: hidden;
	background-image: url(../images/bg.gif);
}
.provider-textbox h1 {
	font-size: 36px;
	color: #0BF;
	font-weight: 700;
}
a.book-but {
	background-color: FFF;
	border: 2px solid #0BF;
	display: block;
	width: 86%;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}
a.book-but:hover, a.book-but:active {
	background-color: #0BF;
	color: #FFF;
}
.provider-textbox p {
	font-size: 16px;
	color: #222;
	line-height: 24px;
	font-weight: bold;
}
.provider-textbox ul li {
	margin-left: 20px;
}
.provider-textbox ul {
	margin-top: 12px;
	line-height: 21px;
}
.formtop {
	background-image: url(../images/formtopbg.gif);
	background-repeat: repeat-x;
	height: 8px;
}
.form-wr {
	background-color: #f8f8f8;
	padding-bottom: 50px;
}
.formbox {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    padding-top: 30px;
    padding-left: 12px;
    padding-right: 12px;
}
.covidpagebox {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    padding-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
}
.formbox-inscardprompt {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	padding-top: 30px;
}
.conttop {
	background-image: url(../images/formtopbg.gif);
	background-repeat: repeat-x;
	height: 8px;
}
.cont-wr {
	background-color: #f8f8f8;
	padding-bottom: 50px;
}
.cont {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}
.cont p {
	line-height:21px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
.cont ol, .cont ul {
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.cont ul {
	margin-left:25px;
}
.cont ul li {
	margin-bottom:12px;
}
.cont ol {
	margin-left:30px;
}
.cont ol li {
	margin-bottom:12px;
	margin-left: 15px;
}
h2 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 14px;
	color: #0BF;
	padding-top: 28px;
}
.cont3 h2 {
    color: #7990FF;
}




h1 {
	padding-top: 30px;
}
h3 {
	font-size: 24px;
	color: #333;
	margin-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEE;
	padding-bottom: 9px;
	margin-top: 30px;
}
.cont-textbox p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.formbanner-wr {
	background-image: url(../images/registerbanner.jpg);
	height: 150px;
	background-position: center top;
}
.formbanner {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	color: #F8F8F8;
	padding-top: 60px;
}
.portalbanner-wr {
	background-image: url(../images/portalbanner.jpg);
	height: 150px;
	background-position: center top;
}
.portalbanner {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	color: #F8F8F8;
	padding-top: 60px;
}
a.portalbutton {
	display: block;
	float: right;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #ffa800;
	color: #FFF;
	text-decoration: none;
	width: 35%;
	font-weight: 700;
	border-radius: 5px 5px 5px 5px;
	text-transform: uppercase;

}
.contactbanner-wr {
	background-image: url(../images/contactbanner.jpg);
	background-position: center top;
	height: 150px;
}
.contactbanner {
	color: #FFF;
	padding-top: 60px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.alertbanner-wr {
	background-image: url(../images/alertbanner.jpg);
	background-repeat: repeat;
	background-position: center top;
}
.alertbanner {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	color: #F8F8F8;
	padding-top: 48px;
}
a.alertdetail {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #020356;
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
	border-radius: 5px 5px 5px 5px;
	font-size: 14px;
	display: block;
	width: 50%;
}
a.alertdetail:hover, a.alertdetail:active {
	background-color: #560116;
}
.phonno {
	font-size: 20px;
}
.smalltxt {
	font-size: 10px;
	display:block;
	margin-top: 5px;
}
.cont960 {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.suite401title {
	background-color: #FDF9F7;
	color: #0BF;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	text-transform: uppercase;
}
.suite401-wr {
	background-color: #e5f8ff;
	clear: both;
	overflow: hidden;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DDD;
}
.suite401box {
	width: 390px;
	background-color: #FFF;
	border-radius: 5px 5px 5px 5px;
	padding: 30px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;

}
.suite401box ul {
	color: #343434;
}
.suite401box p {
	color: #343434;
}
.suite401box h2 {
	margin-top: 0px;
	font-size: 21px;
}
.suite401homequickb h3 {
	font-size: 18px;
	color: #0BF;
	margin-bottom: 8px;
}
.buttonwhite {
	color: #0BF;
	display: block;
	padding: 10px;
	text-align: center;
	border: 1px solid #0BF;
		border-radius: 5px 5px 5px 5px;

}
.floatr {
	float: right;
	margin-left: 20px;
}
.suite401homequickb {
	display: block;
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}
p.mediumtxt {
	font-size:13px;
}
.aform {
	width: 500px;
	background-color: #F3F3F3;
	border-radius: 5px 5px 5px 5px;
	padding: 30px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}
.formbg {
	background-image: url(../images/app-bg.jpg);
	background-position: center top;
	padding-top: 50px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	background-size: cover;
}
h3 img {
	margin-bottom: -4px;
}
.holiday-wr {
	width: 100%;
	background-color: #FCFAFA;
}
.holiday {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.holiday table tr td {
	padding: 5px;
	color: #000;
}
.htable {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.holiday .htable table tr td {
	color: #FFF;
}
.holiday .htable table tr td.open-color {
	color: #FFF;
}
a.acceptedins {
	background-color: FFF;
	border: 2px solid #f09153;
	display: block;
	width: 190px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	color:#f09153;
}
a.acceptedins:hover, a.acceptedins:active {
	background-color: #f09153;
	color: #FFF;
}

.providerslist {
	margin-bottom: 15px;
	overflow: hidden;
	float: left;
	width: 23%;
	margin-top: 0px;
	margin-right: 15px;
	margin-left: 0px;
	height: 430px;
}
.providerslist p {
	margin-top: 35px;
	font-size: 18px;
}
.highlight {
	background-color: #FFEAE8;
}
.highlight2 {
	background-color: #FFEAE8;
	display: block;
	padding: 5px;
	border: 1px solid #FFA9A2;
	font-size: 21px;
}
.alert {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 2px solid #F00;
	color: #F00;
	background-color: #FDECEC;
	text-transform: uppercase;
}
.note {
	font-size: 13px;
}
.introtext {
	max-width: 950px;
	padding-right: 25px;
	padding-left: 25px;
}
.open-color {
	background-color: #f09153;
	color: #333;
}
.formnotshowing {
	color: #666;
	font-size: 15px;
}
ul li a.malert {
	background-color: #C06;
	color: #FFF;
	font-size: 14px;
	padding: 10px;
	margin-top: 3px;
	border-radius: 5px 5px 5px 5px;
}
a.referralbox {
	color: #FFF;
	background-color: #0BF;
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	font-size: 18px;
	font-weight: bold;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	padding-top: 18px;
	padding-right: 25px;
	padding-bottom: 19px;
	padding-left: 25px;
	width: 250px;
}
.docimg img {
	border-radius: 3px;
	margin-bottom: 6px;
}
.provider-imgbox img {
	color: #3F6;
	border-radius: 9px;
}
.provimg {
	width: 99%;
	padding-bottom: 25px;
}
.docs-home .providerslist .provimg a img {
	border-radius: 5px;
}
.holiday-wr .holiday p {
	color: #0BF;
}
.homecont-wr .homecont .phdown {
    text-align: center;
    background-color: #EE4147;
    padding: 30px;
}
.form-wr .covidpagebox {
    font-size: 18px;
    color: #444;
    line-height: 30px;
}
.form-wr .covidpagebox .nextsteps {
    margin-left: 20px;
}

.covidbanner-wr {
    background-image: url("../images/suite401-covid-banner.jpg");
    background-repeat: no-repeat;
	background-position: center center;
	height: 400px;
}
.covidbanner {
    
}
.covidinfo-wr .covidinfo h3 {
    color: #FF5A23;
    border: none;
    font-size: 14PX;
    margin-top: -10px;
    font-weight: 700;
}
.covidinfo-wr .covidinfo p {
    color: #0060d1;
   
}
.covidinfo-wr .covidinfo p.explan {
    font-size: 16px;
    color: #555;
}

.covidinfo-wr .covidinfo .alerttt {
    color: #e00;
}

.covidinfo-wr .covidinfo div.wearefull p {
    color: #FF0000;
    font-size: 18px;
}
.covidinfo-wr .covidinfo div.wearefull {
    max-width: 500px;
    padding: 45px;
    margin-left: auto;
    margin-right: auto;
    background: #FFF0B9
}
.covidinfo-wr .covidinfo p.alrt {
    color: #F00;
}

.covidinfo-wr {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    float: none;
    height: auto;
}
.covid-detailed {
    max-width: 750px;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.covid-detailed-wr .testinglocationimg {
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
}

.covidinfo .covid-detailed p {
    font-size: 16px;
    color: #444;
    line-height: 28px;
    text-align: left;
}
.covidinfo-wr .covidinfo h2 {
    font-size: 36px;
    color: #c7374e;
}
.covidinfo {
    text-align: center;
	font-size: 18px;
}
a.covidbutton {
    padding-bottom: 15px;
    padding-top: 15px;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 9px;
    background-color: #FF8E00;
    color: #FFFCFC;
    width: 186px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
}

.covidinfo-wr .covidinfo .nowoffering {
    color: #888;
    font-size: 17px;
    margin-bottom: -24px;
    text-transform: uppercase;
}
.centerall {
    text-align: center;
}
.panocovidbanner {
    background-image: url("../images/suite401-covidtest-site.jpg");
    background-position: center center;
    height: 450px;
    
}


.covidinfo2 {
	padding-top: 30px;
	padding-bottom: 95px;
}
.covicont-3wr {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.covicont1 {
	overflow: hidden;
	float: left;
	width: 27%;
    margin-left: 25px;
    margin-right: 25px;
}
.covicont2 {
	float: left;
	width: 27%;
    margin-left: 25px;
    margin-right: 25px;
}
.covicont3 {
	float: left;
	width: 27%;
    margin-left: 25px;
    margin-right: 25px;
}
a.covbut {
	display: block;
	float: right;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #FFF;
	text-decoration: none;
	width: 100%;
	font-weight: 700;
	border-radius: 5px 5px 5px 5px;

}
a.covbut:hover, a.covbut:active {
    background-color: #004CFF;
}
a.covbutcolor1 {
    background-color: #FF6700;
}
a.covbutcolor2 {
    background-color: #D74754;
}
a.covbutcolor3 {
    background-color: #3073DB;
}
.covidinfo-wr .covidinfo p.wearefull  {
    color: #F00;
}
