@charset "utf-8";
 @charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:300;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
	overflow: hidden;
}
a:hover, a:active {
	text-decoration:underline;
}
.clr {
	clear:both;
}
.logowr {
	background-color:#333;
}
.wr {
	width:100%;
}
.inner {
	margin-left:auto;
	margin-right:auto;
	max-width:1260px;
}
.logo {
	background-image: url(../img/intranet-header.gif);
	background-size:contain;
	height:139px;
	background-repeat: no-repeat;
	background-position: center;
}
.subtwr {
	background-color:#222;
}
.subt {
	background-image: url(../img/intranet-subt.png);
	background-size:contain;
	height:65px;
	background-repeat: no-repeat;
	background-position: center;
}
.cont {
	padding-top: 40px;
	max-width:1130px;
}
.iframestyle {
	width: 80%;
	height: 500px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCC;
	border-right-color: #999;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}
.goback {
	font-size: 13px;
	color: #36C;
	margin-bottom: 18px;
	display: block;
}
a.goback:link, a.goback:visited {
color:#36C;
text-decoration:none;
}
h2 a:link, h2 a:visited {
	color: #222;
	text-decoration: none;
}
h2 a:hover, h2 a:active {
	color: #36C;
}
